<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OM DENTALS</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <%- include('../../parts/head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/newPatient.css">
    </head>
<body>
    <div>
        <%- include('../../parts/header.ejs') %>
    </div>
    <a  href="/admin">
      <button  class="btn btn-danger">Back</button>
    </a>
    <%if(appointments.length===0){%>
      <h3>NO APPOINTMENT FOUND!!!</h3>
      <%}%>
    <%if(appointments.length !== 0) {%>
      
    <!-- <div class="container">
        <% for(var i = 0; i < appointments.length; i++) { %>
            <% if (i === 0 || i % 3 === 0) { %>
              <div class="row">
            <% } %>
              <div class="col-sm">
                <div class="card border-danger mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                       <h4 class="card-title"><%= appointments[i].firstName %> <%=appointments[i].secondName%></h4>
                       <p>
                           Email <%= appointments[i].email %> <br>
                           MobileNo <%= appointments[i].mobileNo%>
                        </p>
                        <p class="card-text">
                            <% var timeArray=(appointments[i].dateTime).split("T")%>
                            date: <%=timeArray[0]%> <br>
                            time: <%= timeArray[1]%>
                        </p>
                    </div>
                </div>
              </div>
            <% if (i === 0 || i % 3 === 0) { %>
              </div>
            <% } %>
          <% } %>
    
    </div> -->
        <ul class="list-group">
          <%for(var i=0;i < appointments.length;i++){%>
            <!-- <%console.log(appointments[i])%> -->
          <li class="list-group-item">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <%= appointments[i].firstName %>  <%=appointments[i].secondName %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">

                  <% var timeArray=(appointments[i].dateTime).split("T")%>
                            date: <%=timeArray[0]%> <br>
                            time: <%= timeArray[1]%>
                </h6>
                <p >
                  Email <%= appointments[i].email %> <br>
                  MobileNo <%= appointments[i].mobileNo%>
                </p>
              </div>
            </div>

          </li>
          <%}%>
        </ul>
    <%}%>
</body>
</html>

<!-- 
<div class="col-sm">
    
</div> -->