<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Patient Info</title>
        <%- include('../../parts/head.ejs') %>
        
        <link rel="stylesheet" href="/stylesheets/newPatient.css">
    </head>
<body>
    <!-- <a  href="/admin">
        <button  class="btn btn-danger">Back</button>
      </a> -->
    <h1>Update Patient Info</h1>
    <form action="/admin/updatePatientInfo" method="POST">
        <a href="/admin"><button class="btn btn-danger">Back</button></a>
        <%if(patient===null){%>
            <div style="padding-top:20%;text-align: center;" class="noPatient">
                <h2>Ohhhh!!! snap</h2>
                <h3>patient does not exist</h3>
                <a href="/admin/findPatient">
                    <button class="btn btn-success">Back</button>
                </a>
                <br>
                <a  style="color:red" href="/admin/newPatient">
                    Add patient
                </a>
            </div>
            
            <%}%>
        <%if(patient!==null){%>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input class="form-control" type="text" value= "<%= patient[0].firstName %>" name="firstName" id="firstName">
                 </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="secondName">Second name</label>
                    <input class="form-control" type="text" value= "<%=patient[0].secondName%>" name="secondName" id="secondName">
               </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" name="email" value= "<%=patient[0].email%>" id="email">
        </div>
        <div class="form-group">
            <label for="mobileNo ">Phone No</label>
            <input class="form-control" type="text" value= "<%=patient[0].mobileNo%>" name="mobileNo" id="mobileNo">
        </div>
        <div class="form-group">
            <label for="treatmentType">TreatmentType</label>
            <input class="form-control" type="text" name="treatmentType" value= "<%=patient[0].treatmentType%>" id="treatmentType">
        </div>
        <div class="form-group">
            <label for="treatmentInfo">treatmentInfo</label>
            <textarea class="form-control" name="treatmentInfo"  id="treatmentInfo" cols="30" rows="3">
                <%=patient[0].treatmentInfo%>
            </textarea>
        </div>
        <div class=" form-group imageUpload">
            <label for="images">
                Images
            </label>
            <input class="form-control" type="file" name="images" multiple id="images">
        </div>
        <div class="previewImages">
        <button class="btn btn-danger">Update</button>
    <%}%>
    <script>
        $(document).ready(function () {
            let imagePreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    let filesAmount = input.files.length;
                    for (i = 0; i < filesAmount; i++) {
                        let reader = new FileReader();
                        reader.onload = function (event) {
                            $($.parseHTML("<img>"))
                                .attr('style', "height:20vh;width:20vw;margin:1px;")
                                .attr("src", event.target.result)
                                .appendTo(placeToInsertImagePreview)
                        }
                        reader.readAsDataURL(input.files[i]);
                    }
                }
            };
            $("#images").on("change", function () {
                imagePreview(this, "div.previewImages")
            })
        })
    </script>
</form>
</body>
</html>