<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <%- include('./head.ejs')%>
    <title>OM DENTALS</title>
    <link rel="stylesheet" href="/stylesheets/detailPage.css">
</head>
<body>   
    <form action="#" method="get">
            <a href="/admin"><button class="btn btn-danger">Back</button></a>
            <%if(patient===null){%>
                <div style="padding-top:20%;text-align: center;" class="noPatient">
                    <h2>Ohhhh!!! snap</h2>
                    <h3>patient does not exist</h3>
                    <a href="/admin/findPatient">
                        <button class="btn btn-success">Back</button>
                    </a>
                    <br>
                    <a  style="color:red" href="/admin/newPatient">
                        Add patient
                    </a>
                </div>
                
                <%}%>
            <%if(patient!==null){%>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input class="form-control" type="text" value= <%=patient.firstName%> name="firstName" id="firstName">
                     </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="secondName">Second name</label>
                        <input class="form-control" type="text" value=<%=patient.secondName%> name="secondName" id="secondName">
                   </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" value=<%=patient.email%> id="email">
            </div>
            <div class="form-group">
                <label for="mobileNo ">Phone No</label>
                <input class="form-control" type="text" value=<%=patient.mobileNo%> name="mobileNo" id="mobileNo">
            </div>
            <div class="form-group">
                <label for="treatmentType">TreatmentType</label>
                <input class="form-control" type="text" name="treatmentType" value=<%=patient.treatmentType%> id="treatmentType">
            </div>
            <div class="form-group">
                <label for="treatmentInfo">treatmentInfo</label>
                <textarea class="form-control" name="treatmentInfo" value=<%=patient.treatmentInfo%>id="treatmentInfo" cols="30" rows="3">
                    <%=patient.treatmentInfo%>
                </textarea>
            </div>
            <div  class="images">
                <% for(each of patient.images){%>
                    <img id="image" src="data:image/<%=each.contentType%>;base64,
                     <%=each.data.toString('base64')%>">
                    <%}%>54`    e5 
            </div>
        <%}%>
  
    </form>
    <style>
        .images
        {
           border:4px solid black;

        }
        #image
        {
            height:100%;
            width: 30%;
            /* margin-bottom: 10%; */
            /* width: 300px; */
        }

    </style>

</body>
</html>