<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head.ejs') %>
     <link rel="stylesheet" href="/stylesheets/aboutus.css">
     <link rel="stylesheet" href="/stylesheets/news.css">
     <title>OM DENTALS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- navbar -->
    <div>
        <%- include('../parts/header.ejs') %>
    </div>
    <!-- carousel -->
    <div class="carouseltemplate carousel">
        <div class="tag-lines">
            <h2 >READ OUR NEWS</h2>
            <h1 >OUR <strong>NEWS</strong> </h1>
        </div>
    </div>
    <!-- carousal work completed -->
  <%if(news.length === 0){%>
    <h2 style="text-align: center;">No latest news</h2>
    <%}%>
  <%if(news.length > 0){%>
  <div class="container">
    <div class="row">
      <% for (var i=0; i < news.length; i++) { %>
                <div class="card" style="width: 18rem;">
                  <div  class="images">
                    <%if(news[i].titleImages){%>
                  
                      <% for(each of news[i].titleImages){%>
                        <img id="image" src="data:image/<%=each.contentType%>;base64,
                                              <%=each.data.toString('base64')%>">
                        <br>
                        <%}%>
                          <%}%>
                  </div>
                  <div class="card-body">
                    <h3 class="card-title"><%= news[i].title%></h3>
                    <p class="card-text">
                      <%= news[i].subHeading%>
                    </p>
                  <a href= "/news/newsArticle/<%= news[i].title %>" class="btn btn-primary">Read Article</a>
                  </div>
                  
                  <div class="date">
                    Date: <%= news[i].date %>
                  </div>
                  
                </div>
        
        <% } %>
    </div>
   </div>
   <%}%>
   <!-- PAGINATION -->
  <nav style="margin-left: 40%;" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
       <% if(currentPage>1) {%>
        <a class="page-link" href="/news/<%= currentPage-1%>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <%}%>
      <li class="page-item active"><a class="page-link" href="/news/<%= currentPage+1%>">
          <%= currentPage%>
        </a></li>
      <%if(currentPage+1 <= pageCount){%>
      <li class="page-item"><a class="page-link" href="/news/<%= currentPage+1%>"><%= currentPage+1%></a></li>
      <%}%>
      <%if(currentPage+2 <= pageCount){%>
      <li class="page-item"><a class="page-link" href="/news/<%= currentPage+2%>"><%=currentPage+2 %></a></li>
      <%}%>
      <%if(currentPage+3 <= pageCount){%>
      <li class="page-item"><a class="page-link" href="/news/<%= currentPage+3%>"><%= currentPage+3%></a></li>
      <%}%>
      <%if(currentPage+4 <= pageCount){%>
      <li class="page-item">
        <a class="page-link" href="/news/<%= currentPage+1%>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <%}%>
    </ul>
  </nav>


  <script>
    var tag=document.querySelector('li');
    tag.addEventListener('mouseover',(e)=>{
      e.classList.toggle('active')
    })
    var image=document.querySelector('.images')
    image.addEventListener('mouseover',(e)=>{
      e.style.width='100vw'
    })
  </script>




   <!-- the pagination  -->
  <!-- <% if (pageCount> 1) { %>
    <ul class="pagination">
      <% if (currentPage> 1) { %>
        <li><a href="/news/1">&laquo;</a></li>
        <% } %>
          <% var i=1; if (currentPage> 5) {
            i = +currentPage - 4;
            } %>
            <% if (i !==1) { %>
              <li class="disabled"><a href="#">...</a></li>
              <% } %>
                <% for (i; i<=pageCount; i++) { %>
                  <% if (currentPage==i) { %>
                    <li class="active"><span>
                        <%= i %> <span class="sr-only">(current)</span>
                      </span></li>
                    <% } else { %>
                      <li><a href="/?page=<%= i %>">
                          <%= i %>
                        </a></li>
                      <% } %>
                        <% if (i==(+currentPage + 4)) { %>
                          <li class="disabled"><a href="#">...</a></li>
                          <% break; } %>
                            <% } %>
                              <% if (currentPage !=pageCount) { %>
                                <li><a href="/?page=<%= pageCount %>">&raquo;</a></li>
                                <% } %>
    </ul>
    <% } %> -->
   
    <!-- footer -->
    <%- include('../parts/footer.ejs') %>
</body>
</html>